<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>무비고 - {{ title }} 관객수 예측</title>

    <link rel="icon" href="/static/img/favicon.png"/>

    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/result.css"/>
</head>
<body>
    <div id="loader">
    </div>
    <p class="wait">잠시만 기다려주세요.<br/><strong>{{ data["title"] }}</strong>의 관객수를 분석중입니다.</p>
    <form id="form" style="display: none" action="/pred" method="post">
        <input name="title" value="{{ data["title"] }}" type="text"/>
        <input name="category" value="{{  data["category"] }}" type="text"/>
        <input name="year" value="{{ data["year"] }}" type="number"/>
        <input name="month" value="{{ data["month"] }}" type="number"/>
        <input name="staff" value="{{ data["staff"] }}" type="number"/>
        <input name="story" value="{{ data["story"] }}" type="text"/>
    </form>
    <script>
        let form = document.getElementById("form")
        form.submit();
    </script>
</body>
</html>